.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9); 
    color: white;
    padding: 0;
    margin: 0;
}


.modalContainer{
    background-color: rgb(63, 63, 63);
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    height: 84vh;
    width: 70vw;
}

.modalConteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}

.modalDescricoes{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.modalButton{
    background-color: #ff640a;
    font-weight: bold;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    height: 5vh;
    width: 3vw;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    margin-top: 8vh;
}

.modalButton:hover{
    scale: 1.15;
}

.container img{
    max-height: 100%;
    width: 20vw;
    margin-right: 4rem;
}